.app-rx-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__scroll-container{
    flex-grow: 1;
    width: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }

}
