.app-list-element {
  height: 100px;
  width: 100%;
  display: block;
  box-sizing: border-box;

  &__title {
    margin-top: 0;
    margin-bottom: 20px;
  }

  &__checkbox {
    align-self: center;
    margin-right: 20px
  }

  &__info {
    width: 60%;
    padding: 0 10px
  }

  &__actions {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__container {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    padding: 10px 20px;
    border: 1px solid #ccc;
  }

  &__thumbnail {
    height: 100%;
    aspect-ratio: 1 / 1;
  }
}
